<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 화면</title>
    <link rel="stylesheet" href="/css/table.css"/>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">

        // HTML 로딩이 완료되고 실행됨
        $(document).ready(function () {

            // 회원가입
            $("btnUserReg").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함
                location.href = "/user/userRegForm";
            })

            // 메인화면
            $("#btnMain").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함
                location.href = "/html/index.html";
            })

            // 로그인
            $("btnLogin").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함
                let f = document.getElementById("f"); // form 태그

                if (f.user_id.value === "") {
                    alert("아이디를 입력하세요.");
                    f.user_id.focus();
                    return;
                }

                if (f.password.value === "") {
                    alert("비밀번호를 입력하세요.");
                    f.password.focus();
                    return;
                }

                // Ajax 호출해서 로그인 하기
                $.ajax({
                    url: "/user/loginProc",
                    type: "post",
                    datatype: "JSON",
                    data: $("#f").serialize(),
                    success: function (json) {

                        if (json.result === 1) { // 로그인 성공
                            alert(json.msg); // 메시지 띄우기
                            location.href = "/user/loginSuccess"; // 로그인 성공 페이지

                        } else {
                            alert(json.msg); // 메시지 띄우기
                            $("#user_id").focus();
                        }

                    }
                    }
                )
            })
        })
    </script>
</head>
<body>
<h2>로그인하기</h2>
<hr/>
<br/>
<form id="f">
    <div class="divTable minimalistBlack">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">아이디
                </div>
                <div class="divTableCell">
                    <input type="text" name="user_id" id="user_id" style="width:95%"/>
                </div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">비밀번호
                </div>
                <div class="divTableCell">
                    <input type="password" name="password" id="password" style="width:95%"/>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button id="btnLogin" type="button">로그인</button>
        <button id="btnUserReg" type="button">회원가입</button>
        <button id="btnMain" type="button">메인화면</button>
    </div>
</form>
</body>
</html>